.navbar{
    padding: 1em 0;
}

section{
    padding: 3em 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

.navbar-nav a{
    color: white;
}
.navbar-nav a.btn, .input-group-btn button {
    background-color: #212121 !important;
    color: white;
}
.splash-screen{
    height: 100vh;
    background-image: url('/images/splash-screen.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    color: white;
    padding-top: 0;
}

.splash-content{
    margin-top: 25vh;
}

.splash-content h2{
    width: 70%;
}

.splash-content input{
    width: 400px !important;
    background-color: rgba(225 ,225 ,225 , 0.6);
    border: none;
    outline: none;
}

.card{
    width: 90%;
    height:40%;
    padding: 2em 1em;
    background-color: white;
    box-shadow: 0 0 50px -20px black;
    margin: 2em auto;
}

footer{
    background-color: #212121;
    color: white;
    padding: 1em 0;
}

.brand-color{
    color: #ff7163;
}
.pricing{
    background-color: orange;

}
.contact-us-section{
    background-color: orange;
}
button{
    position: absolute;
    top:70%;
}
.container h1{
    text-align: center;
}
.signupform{
    width: 40%;
    margin: 4em auto;
    text-align: center;
}
.signupform .input-group,
.signupform .form-group{
    width: 100%;
}
.secondinput{
    margin-top: 1em;
}
.thirdinput{
    margin-top:1em;
}
.thirdinput input{
    width: 100%;
}
.signupP{
    padding-left:27em;
    width:60em;
}
.signbutton{
    width: 380px;
    margin-top: 1em;
}
.signspan{
    text-align: center;
}
.index2ndform{
    text-align: center;
    margin-top:1em;
}
