.navbar{
    padding: 1em 0;
}

section{
    padding: 3em 0;
}

.navbar-nav a{
    color: white;
}
.navbar-nav a.btn, .input-group-btn button {
    background-color: #212121 !important;
}
.splash-screen{
    height: 100vh;
    background-image: url('/images/splash-screen.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    color: white;
}

.splash-content{
    margin-top: 25vh;
    width: 60%;
}

.splash-content input{
    width: 400px !important;
    background-color: rgba(225 ,225 ,225 , 0.6);
    border: none;
    outline: none;
}

.card{
    height:40%;
    width: 70%;
    padding: 2em 1em;
    background-color: white;
    box-shadow: 0 0 50px -20px black;
    margin: 2em auto;
}

.brand-color{
    color: #ff7163;
}
.pricing{
    background-color: orange;

}
.contact-us-section{
    background-color: orange;
}
button{
    position: absolute;
    top:70%;
}
.foot{
    height: 30%;
    padding-top: 5%;
    padding-left: 5%;
}
.form-inline{
    padding-left: 40%;
}
.class1{
    padding-left: 30%;
}
.class2{
    padding-left: 40%;

}
.class3{
    padding-right:15%;
    padding-top: 3%;
}
.class4{
    padding-right: 15%;
}
.class5{
    padding-left:17.5%;
}
.class6{
    padding-left:34%;
    padding-top:1%;
    padding-right:5%;
}
.class7{
    padding-left:34%;
}

