.navbar{
    padding: 1em 0;
}

section{
    padding: 3em 0;
}

.navbar-nav a{
    color: white;
}
.navbar-nav a.btn, .input-group-btn button {
    background-color: #212121 !important;
}
.splash-screen{
    height: 100vh;
   
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: overlay;
    color: white;
}
.bs-example{
    	margin: 20px;
}
hr{
        margin: 60px 0;
}

.card{
    width: 90% !important;
    background-color: white;
    box-shadow: 0 0 4px 0px #d3d3d3;
    margin: 2em auto;
    min-height: 300px;
    padding: 1em 2em;
}
.card h4{
    color: black;
}
.col-md-6{
    text-align: center;
}

.navbar-fixed-left {
    width: 180px;
    position: absolute !important;
    border-radius: 0;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0 !important;
    border-radius: 0 !important;
}

.dashboard .splash-screen{
    padding-left: 180px !important;
    padding-top: 0 !important;
    background-color: #f5f5f5;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dashboard .row{
    width: 90%;
}

.navbar-fixed-left li{
    width: 100%;
    padding: .5em;
}

